{% extends "layout.html" %}

{% block title %}
    CS50 Final Project
{% endblock %}

{% block main %}

    <div class="d-grid col-4 mx-auto">

        <h2>Future features - ideas</h2>

        <ul>
            <li>Edit and delete categories</li>
            <li>Edit and delete dreams</li>
            <li>Add multiple tags to each dream</li>
            <li>Make a mobile app</li>
            <li>Make audio transcription possible</li>
            <li>Dark mode</li>
        </ul>

    </div>

{% endblock %}
